@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    font-family: "Regular", sans-serif;
    margin: auto;
    padding: auto;
    overflow-x: hidden;
    text-wrap: wrap;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
